<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Eventbrote
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<header>
			{% include "layouts/partials/_navbar.html.twig" %}
		</header>

        {{ include("layouts/partials/_flash_messages.html.twig") }}
		
        <main role="main" class="container"> 
            {% block body %}{% endblock %}
		</main>

			<footer class="mt-5 p-2 perso-primary sticky-bottom">
				{% include "layouts/partials/_footer.html.twig" %}
			</footer>

		</body>
	</html>
