<div class="container-fluid">
   <img class="d-block mx-auto" src="{{ asset('build/images/bridevproject-logo.png') }}" alt="Logo BriDevproject" width="50">
   <p class="m-0 text-white text-center h6">
      &copy; {{ 'now'|date('Y', 'Europe/Paris') }}
      &middot; Built with <span style="font-size:1.3rem; color:crimson">&hearts;</span> by
      <span class="square">
         <a class="text-white footer-link tenth before after" href="#"> Papoel</a>
      </span>
   </p>
</div>