  <nav class="header-eventbrote navbar navbar-expand-lg navbar-dark perso-primary">
     <img src="{{ asset('build/images/bridevproject-logo.png') }}" alt="Logo BriDevproject" width="50">
     <a class="navbar-brand" href="{{ path('app_home') }}">Eventbrote</a>

     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav p-2">

           <li class="nav-item">
              <a class="nav-link" href="{{ path('app_events_index') }}">Tous les Evénements</a>
           </li>

           <li class="nav-item">
              <a class="nav-link" href="{{ path('app_events_create') }}">Créer un Evénement</a>
           </li>

        </ul>
        <ul class="navbar-nav ms-auto me-1">
           <li class="nav-item dropdown ms-auto">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                 Cours Hebdo | Parlons Code
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li>
                    <a class="dropdown-item" href="https://youtu.be/9_HELY5PPw4" target="_blank">Lundi 16/08</a>
                 </li>
                 <li>
                    <a class="dropdown-item" href="https://youtu.be/rINeEAvsEMw" target="_blank">Mardi 17/08</a>
                 </li>
                 <li>
                    <a class="dropdown-item" href="https://youtu.be/rcEOeCILJZ0" target="_blank">Mercredi 18/08</a>
                 </li>
                 <li>
                    <a class="dropdown-item" href="https://youtu.be/zD5WBhNJN9c" target="_blank">Jeudi 19/08</a>
                 </li>
              </ul>
           </li>
        </ul>
     </div>
  </nav>

