html {
   position: relative;
   min-height: 100%;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.footer p {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.2rem;
}