{% extends 'layouts/base.html.twig' %}

{% block title 'Registrations for ' ~ event.name %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="my-5 h3 text-center">
            Inscription pour 
                <a href="{{ path('app_events_show', {'id': event.id}) }}">
                    {{ event.name }}
                </a>
        </h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-around mt-5 mb-5">
                <button type="submit" class="btn btn-outline-success btn-sm w-50 me-1">S'inscrire</button> 
                <a class="btn btn-outline-danger btn-sm w-50 ms-1" href="{{ path('app_event_registrations_index', {'event': event.id}) }}">Annuler</a>
            </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}