{% extends 'layouts/base.html.twig' %}

{% block title 'Registrations for ' ~ event.name %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="my-5 h3 text-center">
				Inscription pour
				<a href="{{ path('app_events_show', {'id': event.id}) }}">
					{{ event.name }}
				</a>
			</h1>

			{% if registrations is not empty %}

				<table class="table table-hover">
					<thead>
						<tr class="text-center">
							<th scope="col">#</th>
							<th scope="col">Nom</th>
							<th scope="col">Connaissance de l'événement ?</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for registration in registrations %}
							<tr class="text-center">
								<th scope="row">
									{{ loop.index }}
								</th>
								<td>
									{{ registration.name }}
								</td>
								<td>{{ registration.howHeard }}</td>
								<td>
									<a class="btn btn-sm btn-outline-primary" role="button" href="mailto:{{ registration.email }}">
										Envoyer un mail
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p>
					Pas encore d'inscriptions.
					<a href="{{ path('app_event_registrations_create', {'event': event.id}) }}">Soyez le premier !</a>
				</p>
			{% endif %}

			<div class="mb-3 d-grid">
               {{ register_link_or_sold_out(event) }}
            </div>
			
		</div>
	</div>
</div></div>{% endblock %}
