      {{ form_start(form) }}
      {{ form_widget(form) }}

      <div class="d-flex justify-content-around">
         <button type="submit" class="m-3 btn btn-sm btn-outline-success" formvalidate>
            {{ submitButtonText ?? 'Créer Evénement' }}
         </button>

         <a class="m-3 btn btn-sm btn-outline-danger" href="{{ path('app_events_index') }}"> 
            Annuler 
         </a>

      </div>

      {{ form_end(form) }}

