{% extends "layouts/base.html.twig" %}

{% block title 'Créer un nouvel évenement' %}

{% block body %}
<div class="mt-5 row">
   <div class="col-md-6 mx-auto">
      <h1>Créer un nouvel évenement</h1>

      {{ include('events/_form.html.twig') }}
      
   </div>
</div>
{% endblock %}