{% extends 'layouts/base.html.twig' %}

{% block title 'Modifier ' ~ event.name %}

{% block body %}
<div class="mt-5 row">
   <div class="col-md-6 mx-auto">
      <h1>Modifier {{ event.name }} </h1>

      {{ include('events/_form.html.twig', { submitButtonText: 'Mettre à jour' }) }}

   </div>
</div>
{% endblock %}