{% extends 'layouts/base.html.twig' %}

{% block title 'Discover All Events | ' ~ parent() %}

{% block body %}
<h1 class="my-5 h3 text-center">{{ pluralize(events|length, 'Event') }}</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for event in events %}
    <div class="col">
        <div class="card h-100">
            <a href="{{ path('app_events_show', {'id': event.id}) }}">
                <img
                    src="{{ asset('build/images/' ~ event.imageFileName) }}"
                    class="card-img-top img-fluid" 
                    alt="{{ event.name }}"
                    height="250"
                >
            </a>
            <div class="card-body">
                <h2 class="h5 card-title">
                    <a href="{{ path('app_events_show', {'id': event.id}) }}">{{ event.name }}</a>
                </h2>
                <h4 class="h6 text-muted">
                    {% if event.isSoldOut %}
                        <span class="badge bg-danger text-uppercase"> Complet </span>
                    {% else %}
                        {{ pluralize(event.spotsLeft, 'place') }}
                    {% endif %}
                    &bull; {{ format_price(event) }}
                </h4>
                <p class="mt-4 card-text">
                    {{ event.description|u.truncate(140, '...', false) }}
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        On {{ event.startsAt|datetime }} in {{ event.location }}
                    </small>
                </p>
                <div class="d-flex justify-content-space-between" id="action">
                    <a class="btn-sm btn btn-warning" href="{{ path('app_events_edit', {'id': event.id}) }}"> Modifier
                    </a>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
