{% extends 'layouts/base.html.twig' %}

{% block title event.name %}

{% block body %}
	<div class="mt-5 row">
		<div class="col-md-6 mx-auto">
			<div class="card">
				<img src="{{ asset('build/images/' ~ event.imageFileName) }}" class="card-img-top img-fluid" alt="{{ event.name }}" height="250">

				<div class="card-body">
					<h1 class="h4 card-title">{{ event.name }}</h1>
					<h3 class="h5 text-muted">
						{% if not event.isSoldOut %}
                            {{ pluralize(event.spotsLeft, 'place') }} &bull; 
                        {% endif %} {{ format_price(event) }}
					</h3>
					<p>
						<a 
							class="p-1 bg-info link-dark text-decoration-none rounded fw-bold h6" 
							href="{{ path('app_event_registrations_index', {'event': event.id}) }}">
							👥 Qui est inscrit ?
						</a>
					</p>
					<p class="mt-4 card-text">
						{{ event.description | raw}}
					</p>

					<p class="card-text">
						<small class="text-muted">
							Le
							{{ event.startsAt | datetime }}
							<br>
							{{ event.location }}
						</small>
					</p>

					<div class="mb-3 d-grid">
                        {{ register_link_or_sold_out(event) }}
                    </div>

					<div class="d-flex justify-content-around">
						<a class="btn btn-outline-warning me-1" href="{{ path('app_events_edit', {'id': event.id}) }}">Modifier !!</a>
						<a class="btn btn-outline-danger ms-1" href="#" onclick="event.preventDefault(); confirm('Êtes-vous sûr?') && document.getElementById('js-event-deletion-form').submit();">Effacer</a>
						<form id="js-event-deletion-form" style="display: none;" action="{{ path('app_events_delete', {'id': event.id}) }}" method="POST">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('event_deletion_' ~ event.id) }}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
